.nav {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.nav a {
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  padding: 6px;
  transition: 0.5s;
}

.nav a:hover {
  color: #EB6440;
}

.nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.logo {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.homeLogo {
  color: #EB6440;
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
}

.icons {
  display: flex;
  align-items: center;
}

.icons svg {
  margin: 0 10px;
}

.search {
  display: flex;
  align-items: center;
  background-color: #F0F2F5;
  border-radius: 10px;
}

.search svg {
  margin-left: 5px;
}

.searchInp {
  width: 400px;
  height: 40px;
  text-align: center;
  border: none;
  background-color: #F0F2F5;
  font-size: 1.5em;
  transition: 0.5s;
}

.searchInp::placeholder {
  text-align: center;
}

.clearResult {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 300;
  font-size: 1.2em;
  padding: auto;
  width: 26px;
  height: 40px;
  color: #A9AF7E;
}

.clearResult:hover {
  cursor: pointer;
  background-color: #E5D9B6;
  color: #fff;
}



.dropdown-search {
  position: absolute;
  background: #fff;
  width: 456px;
  max-height: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
  z-index: 1;
}

.dropdown-search::-webkit-scrollbar {
  width: 5px;
}

.dropdown-search::-webkit-scrollbar-track {
  background-color: rgb(165, 162, 162);
}

.dropdown-search::-webkit-scrollbar-thumb {
  background-color: rgb(87, 86, 86);
}

.user-card {
  border-radius: 10px;
  display: flex;
  padding: 12px 16px;
  transform: none;
}

.user-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.info {
  margin: auto 10px;
}

.user-card .info {
  align-self: flex-start;
}

.info span {
  color: #0f1419;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: capitalize;
}

.info p {
  font-weight: 300;
  color: #536471;
  font-size: 0.9em;

}

.logout {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.userInf {
  display: flex;
  align-items: center;
}

@media (max-width:1120px) {

  .logo,
  .option,
  .userInf {
    display: none;
  }
}

@media (max-width:767px) {
  .nav {
    flex-direction: column;

  }

  .logo,
  .userInf,
  .logout p {
    display: none;
  }

  .icons {
    align-self: flex-start;
  }

  .logout svg {
    display: inline;
    position: absolute;
    top: 7px;
    right: 5px;
  }

  .dropdown-input {
    width: 70px;
    margin-right: 250px;
    margin-bottom: 15px;
  }

  .dropdown-search {
    width: 360px;
  }
}

@media (min-width:10px) and (max-width:415px) {
  .dropdown-input {
    width: 50px;
    margin-right: none;
    margin-left: -65px;
  }

}