.createPost::-webkit-scrollbar {
  width: 5px;
}

.createPost::-webkit-scrollbar-track {
  background-color: rgb(165, 162, 162);
}

.createPost::-webkit-scrollbar-thumb {
  background-color: rgb(87, 86, 86);
}

.body {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D8D9CF;
  margin: 0 auto;
}

.body .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.body .content {
  width: 85%;
  height: 50px;
  margin: 10px;
  margin-left: none;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}


.body button {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  background-color: #1b74e4;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.body button:hover {
  background-color: #59C1BD;
  cursor: pointer;
}

.media {
  margin: 10px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media:hover {
  background-color: #D8D9CF;
  border-radius: 10px;
  cursor: pointer;
}

.media .img {
  display: none;
}

.media .selectImg {
  width: 100%;
  margin: 5px;
}

.createPost .album {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.album img {
  width: 200px;
  height: 200px;
}

@media (max-width:930px) {

  .createPost {
    width: 100%;
   min-height: 250px;
   margin-top: 25px;
  }
  .body button {
    font-weight: 600;
    font-size: 1.2em;
    width: 80%;
    position: absolute;
    margin-top: 5px;
    top: 320px;
    left: 80px;
  }
  .body .content{
    height: 90px;
  }

  .album{
    flex-direction: column;
    overflow-y: auto;
  }

}
@media (max-width:660px){
  .body button {
    position: absolute;
    margin-top: 5px;
    top: 300px;
    left: 50px;
  }
}